@font-face {
    font-family: "santio-bold";
    src: url(../fonts/Santio\ Bold.ttf);
}

@font-face {
    font-family: "roboto-regular";
    src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: "inter-bold";
    src: url(../fonts/Inter-Bold.ttf);
}

@font-face {
    font-family: "mrdafoe";
    src: url(../fonts/MrDafoe-Regular.ttf);
}

