@mixin defaultSettings {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin staticBackground($att-background-image) {
    background-image: $att-background-image;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
}

@mixin navRight {
    display: flex;
    justify-content: right;
    align-items: center;
}

@mixin flexColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@mixin textStyle {
    line-height: 3rem;
    font-size: 2rem;
}

