@font-face {
  font-family: "santio-bold";
  src: url(../fonts/Santio\ Bold.ttf);
}
@font-face {
  font-family: "roboto-regular";
  src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: "inter-bold";
  src: url(../fonts/Inter-Bold.ttf);
}
@font-face {
  font-family: "mrdafoe";
  src: url(../fonts/MrDafoe-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background {
  background-image: url(../images/cleo-topper.jpg);
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  position: fixed;
  z-index: -1;
}

section nav {
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 1rem 4rem 0 0;
}
section nav img {
  height: 1rem;
}
section nav h5 {
  color: white;
  margin-left: 1rem;
  font-family: "roboto-regular";
}
section nav h5:hover {
  cursor: pointer;
}
section .intro {
  width: 20vw;
  margin: 16vh 0 0vh 8vw;
}
section .intro h1 {
  font-size: 4rem;
  color: white;
  margin-bottom: 20vh;
}
section .intro h2 {
  font-family: "mrdafoe";
  color: #E7BC0E;
  font-size: 2rem;
}
section .text-one {
  margin: 35vh 0 0 15vw;
  width: 31vw;
}
section .text-one h2 {
  color: #6BC1A3;
  line-height: 3rem;
  font-size: 2rem;
  font-family: "santio-bold";
}
section .text-one h2 span {
  color: white;
}
section .stats {
  font-family: "santio-bold";
  color: #E7BC0E;
  margin-top: 50vh;
}
section .stats .container {
  width: 40vw;
  margin: 0 auto 0 auto;
}
section .stats .container .stats-one img {
  height: 7.5rem;
}
section .stats .container .stats-one h1 {
  font-size: 8.5rem;
}
section .stats .container .stats-one h2 {
  font-size: 2.5rem;
}
section .stats .container .stats-one h2 span {
  color: white;
  background-color: #333333;
}
section .stats .container .stats-two {
  margin-top: 30vh;
  color: #CB91B6;
}
section .stats .container .stats-two img {
  height: 7rem;
}
section .stats .container .stats-two h2 {
  font-size: 2.5rem;
}
section .stats .container .stats-two h2 span {
  color: white;
  background-color: #333333;
}
section .stats .container .stats-two h1 {
  font-size: 6rem;
}
section .stats .container .stats-three {
  margin-top: 30vh;
  color: #6BC1A3;
}
section .stats .container .stats-three img {
  height: 7rem;
}
section .stats .container .stats-three h2 {
  font-size: 2.5rem;
}
section .stats .container .stats-three h2 span {
  color: white;
  background-color: #333333;
}
section .stats .container .stats-three h1 {
  font-size: 6rem;
}
section .stats .container .stats-text {
  margin-top: 30vh;
  color: #7EB8E1;
  width: 70%;
}
section .stats .container .stats-text h1 {
  line-height: 3rem;
  font-size: 2rem;
}
section .stats .container .stats-text h1 span {
  color: white;
  background-color: #333333;
}
section .kids-see {
  margin-top: 30vh;
  height: 130vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
}
section .kids-see div {
  position: absolute;
  background-color: rgb(236, 236, 236);
  width: 100%;
  height: 100%;
}
section .kids-see .see {
  height: 110%;
  position: absolute;
  z-index: 1;
}
section .kids-see .kids {
  height: 110%;
  position: absolute;
  z-index: 2;
}
section footer {
  background-color: black;
  height: 100vh;
  width: 100vw;
}
section footer div {
  color: white;
  width: 35%;
  padding: 20vh 0 0 12vw;
}
section footer div h1 {
  font-family: "inter-bold";
  font-size: 2.5rem;
}
section footer div button {
  margin-top: 2rem;
  border: 1px solid white;
  background-color: black;
  color: white;
  padding: 0.8rem;
}
section footer div button:hover {
  box-shadow: 8px 8px 0px rgb(255, 255, 255);
  cursor: pointer;
}

.nav-bottom {
  background-color: black;
  padding-bottom: 1rem;
}
.nav-bottom h5 {
  color: white;
  text-align: center;
  font-family: "roboto-regular";
}
.nav-bottom h5 a {
  color: #6BC1A3;
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */
